n8n-workflows/minimal-scheduling-agent-webhook.json
{
  "meta": {
    "instanceId": "test-instance"
  },
  "nodes": [
    {
      "parameters": {
        "path": "scheduling-agent",
        "method": "POST",
        "responseMode": "onReceived"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://webhook.site/your-test-url",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={ $json }"
      },
      "id": "HTTP Request",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "responseData": "={ $json }",
        "responseCode": 200
      },
      "id": "Respond to Webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "name": "Minimal Scheduling Agent Webhook",
  "tags": []
} 