n8n-workflows/scheduling-agent.json
{
  "name": "Scheduling Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scheduling-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "scheduling-agent-trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-type",
              "leftValue": "={{ $json.type }}",
              "rightValue": "INITIATE_SCHEDULING",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-type",
      "name": "Check Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "scheduling@clearcompany.com"
            },
            {
              "name": "to",
              "value": "={{ $json.analyst.email }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.emailContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "{{ $env.APP_URL }}/api/scheduling-agent/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "EMAIL_SENT"
            },
            {
              "name": "conversationId",
              "value": "={{ $json.conversationId }}"
            },
            {
              "name": "emailData",
              "value": "={{ { \"subject\": $json.subject, \"content\": $json.emailContent, \"messageId\": $json.messageId, \"threadId\": $json.threadId } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-sent",
      "name": "Notify Email Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.RESEND_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "scheduling@clearcompany.com"
            },
            {
              "name": "to",
              "value": "={{ $json.analyst.email }}"
            },
            {
              "name": "subject",
              "value": "Follow-up: {{ $json.subject }}"
            },
            {
              "name": "html",
              "value": "={{ $json.followUpContent }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-followup",
      "name": "Send Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 500]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-4"
            },
            {
              "name": "messages",
              "value": "={{ [{\"role\": \"system\", \"content\": \"You are a professional scheduling assistant for ClearCompany. Your goal is to schedule briefings with analysts. Be polite, professional, and efficient. Extract key information from emails and respond appropriately.\"}, {\"role\": \"user\", \"content\": $json.emailContent}] }}"
            },
            {
              "name": "temperature",
              "value": 0.7
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-email",
      "name": "Analyze Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 700]
    },
    {
      "parameters": {
        "url": "https://api.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "summary",
              "value": "={{ $json.subject }}"
            },
            {
              "name": "description",
              "value": "Briefing with {{ $json.analyst.firstName }} {{ $json.analyst.lastName }} from {{ $json.analyst.company }}"
            },
            {
              "name": "start",
              "value": "={{ { \"dateTime\": $json.agreedTime, \"timeZone\": \"America/New_York\" } }}"
            },
            {
              "name": "end",
              "value": "={{ { \"dateTime\": $json.endTime, \"timeZone\": \"America/New_York\" } }}"
            },
            {
              "name": "attendees",
              "value": "={{ [{ \"email\": $json.analyst.email, \"name\": $json.analyst.firstName + \" \" + $json.analyst.lastName }] }}"
            },
            {
              "name": "conferenceData",
              "value": "={{ { \"createRequest\": { \"requestId\": $json.conversationId, \"conferenceSolutionKey\": { \"type\": \"hangoutsMeet\" } } } }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-calendar-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Check Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Type": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Notify Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Email": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
